/* ==========================================================================
   MY THEME (modified from DEFAULT THEME)
   ========================================================================== */

/* Color codes used for the theme */
$gray                       : #7a8288;
$dark-gray                  : mix(#000, $gray, 40%);
$darker-gray                : mix(#000, $gray, 60%);
$light-gray                 : mix(#fff, $gray, 50%);
$lighter-gray               : mix(#fff, $gray, 90%);

// My
$meta-info-color            : #666;
$pub-me-color               : #333;

$default-blue               : #3B6EA8;
$default-badge              : #B5831F;
// $umich-blue                 : #00274C; // Michigan Blue
// $umich-maize                : #FFCB05; // Michigan Maize

$main-theme-color           : $default-blue;
$badge-theme-color          : $default-badge;
$venue-theme-color          : #9E3C39;


/* Color codes used for the site */
$danger-color               : #ee5f5b;
$info-color                 : #2f7f93;
$notice-color               : #7a8288;
$success-color              : #62c462;
$warning-color              : #f89406;

/* Other basic settings for the template */
$border-radius              : 4px;
$box-shadow                 : 0 1px 1px rgba(0, 0, 0, 0.125);
$global-transition          : all 0.2s ease-in-out;
$masthead-height            : 70px;
$navicon-width              : 28px;
$navicon-height             : 4px;
$sidebar-link-max-width     : 250px;
$sidebar-screen-min-width   : 1024px;

/* Default light theme for the site */
:root {
    --global-base-color                 : #{$gray};
    --global-bg-color                   : #fff;
    --global-footer-bg-color            : #f2f3f3;
    --global-border-color               : #bdc1c4;
    --global-sub-border-color           : #eaeaea;
    --global-code-background-color      : #fafafa;
    --global-code-text-color            : #{$darker-gray};
    --global-fig-caption-color          : #{mix(#fff,  $dark-gray, 25%)};
    --global-link-color                 : #{$main-theme-color};
    --global-link-color-hover           : #{mix(#000, $main-theme-color, 25%)};
    --global-link-color-visited         : #{$main-theme-color};
    --global-badge-color                : #{$badge-theme-color};
    --global-venue-color                : #{$venue-theme-color};
    --global-masthead-link-color        : #{$dark-gray};
    --global-masthead-link-color-hover  : #{mix(#000, $gray, 25%)};
    --global-highlight-text-color       : #{$pub-me-color};
    --global-text-color                 : #{$dark-gray};
    --global-text-color-light           : #{$meta-info-color};
    --global-sub-text-color             : #{$meta-info-color};
    --global-thead-color                : #{$lighter-gray};
}